<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submit event: Cronofy Developer Demo</title>

    <link href="/app.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper__outer">
        <div class="wrapper__inner">

            <script>
                const error = "<%= error %>";
            </script>

            <a href="/availability" class="link--secondary">Pick another time</a>
                
                <% if (!error) { %>
                    <h1>Event created</h1>
                    <p>A new event was successfully added to your calendar.</p>

                    <div class="block block--border">
                        <p>Event details:</p>
                        <p><strong>Date:</strong> <%= meetingDate %></p>
                        <p><strong>Time:</strong> <%= start %> to <%= end %></p>
                    </div>
                <% } else { %>
                    <h1>Event creation failed</h1>
                    <p>There was an error creating the event. Please try again.</p>
                    <p><strong>Error:</strong> <%= error %></p>
                <% } %>

            </div>

        </div>
        <footer class="footer">
            <svg class="footer__logo" width="23%" height="23%" viewBox="0 0 2134 2134" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;"><path d="M973.487,560.674c5.698,70.153 -33.262,135.952 -68.44,203.092c-90.561,172.731 -205.473,327.268 -313.908,486.605c-54.037,79.361 -107.71,159.058 -156.514,242.214c-24.454,41.69 -40.152,88.403 -42.587,138.632c-1.606,32.816 5.492,63.735 33.831,80.757c29.013,17.412 57.197,8.762 83.153,-11.944c37.251,-29.691 65.331,-68.534 93.722,-107.043c138.329,-187.521 277.953,-373.925 428.406,-550.619c77.816,-91.361 156.513,-181.772 246.66,-259.292c49.892,-42.918 101.131,-84.106 163.301,-106.429c136.93,-49.169 220.705,83.324 206.147,196.338c-10.31,79.976 -48.804,145.552 -90.769,209.51c-67.299,102.634 -148.173,193.66 -218.218,293.95c-25.179,36.053 -49.27,72.944 -67.507,113.908c-14.558,32.816 -11.449,57.261 10.569,74.394c22.278,17.301 42.794,12.669 69.269,-12.334c72.117,-68.087 138.95,-142.538 216.352,-204.263c118.331,-94.375 251.065,-149.459 396.44,-170.499c26.371,-3.795 52.845,-6.865 79.371,-8.93c42.897,-3.404 76.832,26.342 82.013,70.711c4.404,37.951 -23.055,75.511 -63.207,81.65c-51.083,7.813 -102.84,9.32 -153.509,22.045c-132.837,33.374 -244.277,107.713 -343.853,205.101c-42.846,41.913 -84.189,85.612 -127.657,126.855c-54.451,51.624 -117.606,68.646 -186.977,42.527c-71.03,-26.844 -115.067,-81.873 -128.693,-161.848c-7.46,-43.755 1.347,-86.338 19.169,-126.577c39.738,-89.797 98.592,-165.252 156.048,-241.767c62.222,-82.822 129.47,-161.514 180.501,-253.6c12.175,-21.933 22.174,-44.648 27.925,-69.706c3.316,-14.623 3.782,-29.077 -6.269,-38.956c-9.377,-9.264 -20.62,0.335 -29.583,5.023c-45.488,23.943 -85.536,56.87 -123.46,92.421c-119.833,112.401 -225.16,240.038 -328.673,369.238c-113.979,142.259 -222.881,288.927 -331.109,436.209c-34.505,46.936 -74.242,89.184 -123.875,118.651c-127.915,75.79 -281.735,-3.906 -307.121,-158.611c-16.372,-99.509 10.154,-190.311 57.196,-272.073c85.847,-149.235 185.838,-288.201 282.875,-429.177c81.703,-118.651 161.54,-238.642 223.14,-371.414c17.874,-38.509 16.527,-77.464 6.269,-117.089c-3.523,-13.617 -11.812,-23.719 -23.677,-31.532c-52.948,-34.881 -108.487,-33.263 -165.114,-14.511c-89.784,29.747 -165.528,85.724 -237.18,149.012c-101.389,89.631 -187.547,194.218 -262.41,309.968c-20.983,32.425 -63.518,40.071 -93.463,18.696c-34.401,-24.556 -44.866,-69.539 -22.485,-105.369c66.678,-106.596 144.391,-202.812 232.724,-289.485c85.07,-83.436 175.632,-157.83 281.995,-206.719c99.783,-45.82 201.535,-62.507 305.463,-12.948c94.292,44.927 134.133,125.46 133.77,245.228l-0.051,-0Z" style="fill:#4d8ac8;fill-rule:nonzero;"/><g><path d="M666.779,249.646c44.919,0 84.863,5.19 119.782,15.627c34.919,10.38 63.207,21.486 84.759,33.207c21.604,11.72 34.815,19.645 39.737,23.83l-96.364,175.857c-5.595,-4.521 -15.335,-10.883 -29.22,-18.975c-13.885,-8.149 -29.427,-15.404 -46.576,-21.822c-17.2,-6.418 -33.727,-9.655 -49.477,-9.655c-18.599,-0 -34.038,2.735 -46.317,8.204c-12.279,5.469 -18.444,14.845 -18.444,28.072c0,9.097 3.316,17.413 9.999,24.947c6.683,7.59 17.978,15.292 33.987,23.273c15.957,7.925 37.82,17.022 65.537,27.235c27.045,9.432 51.757,21.208 74.242,35.16c22.485,14.008 41.862,30.64 58.181,49.894c16.32,19.31 29.065,41.411 38.183,66.358c9.119,24.947 13.678,53.131 13.678,84.496c-0,41.634 -7.979,77.073 -23.936,106.373c-15.957,29.3 -37.302,53.02 -63.983,71.214c-26.682,18.138 -56.42,31.476 -89.267,40.015c-32.846,8.539 -66.108,12.781 -99.783,12.781c-51.602,-0 -97.504,-6.028 -137.707,-18.139c-40.204,-12.11 -72.688,-25.226 -97.401,-39.401c-24.764,-14.176 -39.944,-24.277 -45.539,-30.361l99.524,-183.223c3.834,3.404 12.175,8.874 25.023,16.464c12.797,7.59 28.236,15.515 46.317,23.83c18.082,8.316 36.784,15.404 56.057,21.264c19.325,5.86 37.199,8.818 53.726,8.818c22.122,-0 38.442,-3.404 48.959,-10.213c10.517,-6.809 15.802,-16.632 15.802,-29.524c-0,-9.097 -3.264,-17.58 -9.74,-25.505c-6.476,-7.925 -18.082,-16.352 -34.764,-25.226c-16.682,-8.873 -40.307,-19.198 -70.822,-30.918c-29.479,-11.72 -57.56,-27.012 -84.241,-45.932c-26.682,-18.919 -48.441,-43.476 -65.279,-73.724c-16.838,-30.249 -25.283,-68.088 -25.283,-113.462c0,-45.373 11.916,-85.668 35.8,-118.54c23.884,-32.927 54.917,-58.153 93.204,-75.734c38.286,-17.58 78.801,-26.398 121.646,-26.398l0,-0.167Z" style="fill:#231f20;fill-rule:nonzero;"/><path d="M1379.25,731.787l-175.372,-0l-0,280.22l-203.764,0l0,-748.799l203.764,-0l-0,278.546l175.372,0l-0,-278.546l203.245,-0l-0,748.799l-203.245,0l-0,-280.22Z" style="fill:#231f20;fill-rule:nonzero;"/></g><path d="M426.128,1112.24l466.537,-0l0,190.59l-262.773,0l-0,90.747l262.773,-0l0,184.34l-262.773,-0l-0,92.476l262.773,0l0,190.591l-466.537,-0l0,-748.8l0,0.056Z" style="fill:none;fill-rule:nonzero;stroke:#231f20;stroke-width:53.85px;"/><path d="M993.536,1112.24l240.133,-0c74.087,-0 135.791,15.961 185.113,47.94c49.322,31.979 86.417,76.125 111.388,132.437c24.92,56.368 37.406,120.828 37.406,193.437c0,72.608 -12.486,137.682 -37.406,193.994c-24.92,56.368 -62.066,100.625 -111.388,132.716c-49.322,32.146 -111.026,48.22 -185.113,48.22l-240.133,-0l0,-748.8l0,0.056Zm203.764,193.381l-0,361.982l17.926,-0c29.116,-0 53.725,-7.925 73.723,-23.831c19.998,-15.906 35.282,-37.504 45.799,-64.963c10.517,-27.402 15.802,-57.93 15.802,-91.639c-0,-33.709 -5.181,-64.74 -15.543,-92.198c-10.362,-27.403 -25.645,-49.168 -45.799,-65.242c-20.205,-16.073 -44.866,-24.109 -73.982,-24.109l-17.926,-0Z" style="fill:#231f20;fill-rule:nonzero;"/></svg>
            <span class="footer__credit">Powered by <a href="https://shedrx.com">ShedRx</a></span>
        </footer>
    </div>
</body>
</html>
